fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20

numpy==1.26.4
Pillow==10.4.0
scipy==1.13.0
opencv-python-headless==4.10.0.84
face-recognition==1.3.0
faiss-cpu==1.8.0.post1
imagehash==4.3.1
invisible-watermark==0.2.0

python-dotenv==1.0.1
psycopg2-binary==2.9.9
pgvector==0.3.6
redis==5.0.8
celery[redis]==5.3.6
pybloom-live==3.0.0

basc-py4chan==0.6.6
praw==7.7.1
telethon==1.36.0

pytest==8.3.4
ruff==0.8.4
